h1 {
    font-size: 30px;
    font-weight: bolder;
    padding: 60px 0;
    text-align: center;
}

ion-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

ion-list-header {
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
}

ion-item {
    margin-bottom: 15px;
}